@model MvcAdminCv.Models.Entity.Tbl_Egitimlerim

@{
    ViewBag.Title = "EgitimDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Eğitim Düzenleme Sayfası</h2>
<form method="post">

    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    @Html.Label("Alt Başlık 1")
    @Html.TextBoxFor(x => x.AltBaslik1, new { @class = "form-control" })
    <br />
    @Html.Label("Alt Başlık 2")
    @Html.TextBoxFor(x => x.AltBaslik2, new { @class = "form-control" })
    <br />
    @Html.Label("GNO")
    @Html.TextBoxFor(x => x.GNO, new { @class = "form-control" })
    <br />
    @Html.Label("TARİH")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />


    <button class="btn btn-success">KAYDET</button>
</form>

